.country {
  &__page {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
  }

  &__layout_bg {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.502);
  }

  &__layout_title {
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__layout {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__flags {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__flag {
    border: 1px solid rgba(113, 140, 160, 0.3);
    // box-shadow: 0px 0px 2px 0px rgba(34, 60, 80, 0.5);
  }

  &__category {
    display: flex;
    align-items: flex-start;
    gap: 3px;
    font-size: 18px;
  }
  &__cat_title {
    display: flex;
    align-items: center;
    gap: 3px;
  }

  &__cat_text {
    font-size: 20px;
  }

  &__link_map {
    text-decoration: underline;
  }
  &__link_map:hover {
    text-decoration: none;
  }

  &__line {
    height: 1px;
    width: 100%;
    background-color: rgba(31, 98, 149, 0.1);
  }
}
